---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
# H1 - Fonts: Cal Sans
## H2 - DM Sans
### H3 - Didact Gothic

Most of the CSS should be complete. Reorganize it and then add some more text styling  too if needed.
MAKE THE UTILITIES NOW!

# Old Text

An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---


<Layout title="Welcome to Astro.">
    <!--<Markdown content={explainer} class="mb-10 text-lg" />-->
    <p>
        <button href="/word-count" class="button glass-effect">Word Counter</button>
    </p>
    <p>
        <button class="button glass-effect" disabled>World Times</button>
    </p>
</Layout>
