---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
import '../../src/styles/word-count.css';

const explainer = `
## Word Counter!
This handy word counter allows you to type or paste a prompt and receive handy information, primarily the amount of words! In addition, this allows you to view the amount of characters, sentences, and paragraphs. In addition to this, it allows you to view the average reading time of what you've written, and a score. This is primarily useful for those who need to write under a certain word amount, or want to test their writing skills! The sky's the limit, for instance, there are 90 words here!


`;
---


<Layout title="Welcome to Astro.">
    <h1>Word Counter</h1>

    <!-- Textbox -->
    <div class="word-container"> <!-- Everything placed here -->

                <div class="output-container"> <!-- Where the info is placed. -->

                    <div class="output row"> <!--Fancy edition-->
                        <p class="words">Words</p>
                        <span id="wordCount">0</span>
                        </div>
                    <div class="output row">
                        <p class="characters">Characters</p>
                        <span id="characterCount">0</span>
                    </div>

                    <div class="output row">
                        <p class="sentences">Sentences</p>
                        <span id="sentenceCount">0</span>
                    </div>

                    <div class="output row">
                        <p class="paragraphs">Paragraphs</p>
                        <span id="paragraphCount">0</span>
                    </div>
                </div>
                    <textarea placeholder="Enter your text here..."></textarea>
                <div class="output-container"> <!-- Misc Text Info. -->

                        <div class="output row"> <!--Fancy edition-->
                            <p>Reading Time</p>
                            <span id="readingTime">0</span>
                        </div>

                        <div class="output row"> <!--Fancy edition-->
                            <p>Readability Score</p>
                                <p>
                                    <a class="glass-effect" id="readability">Calculate</a>
                                </p>
                        </div>


                </div>
    </div>
    <script src="src/pages/functions/counter.js" defer></script>

    <Markdown content={explainer}/>
</Layout>


