---

---

<footer class=" ">
    <p class=" ">
        Make a footer.
        <a href="https://docs.netlify.com/frameworks/astro/" class="decoration-dashed text-primary underline-offset-8"> Astro on Netlify </a>
    </p>
    <p>By using this, you're likely subject to terms and conditions, except we don't have any of those at the moment.</p>
</footer>
