---

---

<footer class=" ">
    <p class=" ">
        Make a footer.
        <a href="https://docs.netlify.com/frameworks/astro/" class="decoration-dashed text-primary underline-offset-8"> Astro on Netlify </a>
    </p>
</footer>
