---
import Logo from '../components/Logo.astro';
---
 <!--<Logo />
        <a id="logo" title="MoonUtil" href="/"  imageurl="/logo.png"></a>-->
<div class="header">
        <a href="/">
                <!--<img src="logo_transparent.png" alt="Italian Trulli" width="210" height="70">-->
                <img is:inline src="https://-moonutil.netlify.app/icon_transparent.png" alt="Italian Trulli (Well, logo)" width="70" height="70">
        </a>
        <div id="Navigation">
            <span><a class="header-text" href="/">Home</a></span>
            <span><a class="header-seperator"> ● </a></span>
            <span><a class="header-text" href="/word-count">Word Count</a></span>
            <span><a class="header-seperator"> ● </a></span>
            <span><a class="header-text" href="/image-cdn">Times Around the World</a></span>
            <span><a class="header-seperator"> ● </a></span>
            <span><a class="header-text" href="/blobs" target="_blank">Help</a></span>
            <span></span>

            <p></p>
        </div>
</div>
